<footer class="w-100">

  <div class="w-100 d-flex justify-content-center bkFooter1 text-light lead shadow">

   
    
    <div class="col-md-4 p-0 mt-3">
      <div>
        <h4 class="text-center mr-4 ">Redes Sociais</h4>
        <div class="row container justify-content-center mt-3 icones">
          <div class=""><a href="" class="p-3 text-light"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
          </div>
          <div class=""><a href="https://www.instagram.com/jooh00_/" class="p-3 text-light"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
          </div>
          <div class=""><a href="" class="p-3 text-light"><i class="fa fa-instagram" aria-hidden="true"></i></a></div>
        </div>
        
      </div>
    </div>

  </div>
</footer>


<footer classe="container-fluid">
  <h4 class="text-center p-3 m-0 text-light lead bkFooter1 bkFooter2">&copy; Resenhas cabelisticas - Todos os Direitos Reservados
  </h4>
</footer>
